
<div class="row">
  <div class="col-xs-2">
    <%= message.user.username %>:
  </div>
  <div class="col-md-8">
    <%= message.body %>
  </div>
  <div class="col-md-2">
    <span class="text-muted"><%= message.timestamp %></span>
  </div>
</div>