<% if current_user %>
  <div id="nav" class="row">
    <div class="col-xs-3">
      <%= link_to chats_path do %>
        <span class="glyphicon glyphicon-comment"></span>
      <% end %>
    </div>
    <div class="col-xs-3">
      <%= link_to contacts_path do %>
        <span class="glyphicon glyphicon-user"></span>
      <% end %>
    </div>
    <div class="col-xs-3">
      <span class="glyphicon glyphicon-cog"></span>
    </div>
    <div class="col-xs-3">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="glyphicon glyphicon-log-out"></span>
      <% end %>
    </div>
  </div>
<% end %>